:root {
    --title-padding: 30px;
    --footer-border-color: #424245;
    --footer-text-color: #86868b;
    --footer-link-color: #d2d2d7;
}

@media (max-width: 1412px) {
    .cart-container-pc {
        left: auto;
        right: -20px;
    }

    .cart-container-pc::before {
        left: 81%;
    }
}

/* Pc */
@media (min-width: 1024px) and (max-width: 1239px) {
    .thermal-desc {
        font-size: 24px;
        line-height: 28px;
    }

    .content-hardware__right-side__text {
        font-size: 24px;
        line-height: 28px;

    }

    .battery-render-pic {
        position: relative;
        display: block;
        width: 477px;
        height: 643px;
        bottom: -21px;
        left: 134px;
    }

    .content-battery__info__header {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 .content-relate__img-4 {
        left: -30px;
        right: auto;
    }


}


/* tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .first-header>.wide {
        width: 100%;
    }

    .fix-header>.wide {
        width: 100%;
    }

    .first__content__info__title {
        font-size: 32px;
    }

    .first__content__info__slogan {
        font-size: 80px;
    }

    .first__content__info__desc,
    .content-performance__text--left-side>h2,
    .text-right-side__header>h2 {
        font-size: 28px;
    }

    .first__content__info__chip {
        font-size: 32px;
    }

    .first__content__info__chip>img {
        width: 76px;
        height: 76px;
    }

    .first__content__info__price,
    .section-content__desc {
        font-size: 24px;
    }

    .section-content__title {
        font-size: 64px;
    }

    .section-content__img {
        display: flex;
        justify-content: center;
    }

    .section-content__img>img {
        height: 303px;
        width: 303px;

    }

    .content-performance__text--left-side>h2 {
        max-width: 212px;
    }

    .content-performance__text--right-side__container {
        max-width: 692px;
    }

    .text-right-side__item-feature {
        font-size: 28px;
    }

    .compare-performance__header {
        font-size: 21px;
    }

    .bars-num {
        font-size: 32px;
        margin-top: -14px;

    }

    .thermal-desc {
        font-size: 24px;
        line-height: 30px;
    }

    .content-hardware__right-side__text {
        font-size: 24px;
    }

    .content-performance__content {
        padding: 0 40px;
    }

    .thermal-vid {
        margin: 0;
        height: 400px;
        position: relative;

    }

    .thermal-memory-bg {
        display: none;
    }

    .thermal-memory-bg-tablet {
        display: block;
        margin: 0;
        top: -380px;
        left: -20px;
        position: absolute;
        height: 844px;
        width: 542px;
        /* object-fit: cover; */
    }

    .btn-replay {
        display: none !important;
    }

    .content-app__info__left-side__pic {
        display: none;
    }

    .content-app__info__left-side__pic-tablet {
        position: absolute;
        display: block;
        height: 628px;
        z-index: 0;
        right: 24px;
        top: -72px;

    }

    .content-app__footer {
        right: 120px;
        top: 560px;
        font-size: 12px;

    }

    .content-app__info__right-side__title {
        max-width: 280px;
        font-size: 48px;
    }

    .content-app__info__right-side__desc>p {
        max-width: 320px;
        font-size: 19px;
    }


    .content-battery__left-side__content__desc {
        font-size: 72px;
    }

    .content-battery__right-side__info__container {}

    .content-battery__info__header {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }


    .content-app__info__right-side {
        padding: 20px 0;
    }

    .content-app__info__right-side__title {
        font-size: 40px;
        max-width: 280px;
    }

    .content-app__info__right-side__desc>p {
        font-size: 19px;
    }

    .content-section__header__title--grey,
    .content-section__header__title--white {
        font-size: 64px;
        line-height: 66px;
    }

    .content-section__header__text-content {
        font-size: 24px;
        line-height: 28px;
        max-width: 80%;
    }

    .content-display__header__pic-lap {
        width: 860px;
        height: 499px;
        left: 50%;
        margin-left: -430px;
    }

    .content-display__header__pic-screen {
        width: 655px;
        height: 409px;
        left: 50%;
        margin-left: -327.5px;
    }

    .content-display__header__pic-caption {
        right: 140px;
        font-size: 12px;
    }

    .flex-grow-tablet {
        flex-grow: 1;
        order: 1;
    }

    .content-margin-top-tablet {
        margin-top: 26px;
    }

    .flex-order-1 {
        order: 2;
    }

    .flex-order-2 {
        order: 3;
    }

    .badge__value {
        font-size: 64px;
        margin: 20px 0 10px;
    }

    .badge__typography {
        font-size: 21px;
        max-width: 300px;
    }

    .change-brighten {
        margin-bottom: 100px;
    }

    .content-display__container__icon>img {
        width: 303px;
        height: 302px;
    }

    .padding-top-icon {
        padding: 0;
    }

    .true-tone-img {
        width: 470px;
    }

    .content-section__header__big-pic {
        width: 801px;
        height: 482px;
        left: 50%;
        margin-left: -400.5px;
    }

    .content-section__header__small-pic {
        margin-left: -376px;
        width: 752px;
        height: 228px;
    }

    .content-section__img {
        /* max-width: 377.5px; */
        align-self: flex-end;
        margin-top: 100px;
    }

    .content-section__text-title--white,
    .content-section__text-title--grey {
        font-size: 28px;
        max-width: 400px;
    }

    .scissor-img {
        margin-top: 0px;
    }

    .content-tag-touch-id__text-container {
        font-size: 26px;
        max-width: 400px;
        margin-left: -8px;
    }

    .content-tag-touch-id__icon-container {
        max-width: 210px;
    }

    .content-tag-touch-id__icon-container>span {
        font-size: 19px;
    }

    .content-tag-touch-id__text-container {
        font-size: 28px;
        line-height: 32px;
    }

    .content-tag-touch-id__icon-container>span {
        font-size: 21px;
        max-width: 180px;
        margin-right: 10px;
    }

    .ar-img {
        width: 309px;
        height: 404px;
    }

    .ar-icon>img {
        width: 31px;
    }

    .ar-icon {
        width: 31px;
    }

    .bottom-content {
        padding-top: 15px;
    }


    .bottom-content .ar-container .ar-title-container {
        font-size: 40px;
        margin-top: 15px;

    }

    .bottom-content .ar-content__img-container {
        max-width: 330px;
        height: 404px;
        margin-left: 0px;
    }

    .bottom-content .content-ar {
        min-height: 452px !important;
    }

    .bottom-content .ar-container {
        padding-top: 0px;
        padding-bottom: 0;
    }

    .ar-container {
        margin-left: 15%;
    }

    .bottom-content .ar-content__img-container .ar-img {
        left: auto;
        right: 10px;
    }

    .bottom-content .content-buy .content-buy__header {
        font-size: 48px;
        max-width: 487px;
        margin-top: 51px;
        line-height: 52px;
    }

    .bottom-content .content-buy .content-buy__compare-link {
        margin-top: 22px;
        margin-bottom: 37px;
    }

    .bottom-content .content-buy .content-buy__list .grid-system .product-img {
        width: 129px;
        height: 88px;
    }

    .bottom-content .content-buy .content-buy__list .grid-system .product-name {
        font-size: 21px;
    }

    .bottom-content .content-buy .content-buy__list .grid-system {
        grid-column-gap: 35px;
    }

    .bottom-content .content-buy .content-buy__list .grid-system .product-special-chip {
        margin-top: -24px;
    }

    .bottom-content .content-macOs .content-macOs__container .content-macOs__text {
        font-size: 40px;
        font-weight: 500;
        max-width: 400px;
        text-align: center;
    }

    .content-macOs__header-img>img {
        width: 166px;
        height: 22px;
    }

    .bottom-content .content-relate .content-relate__text .content-relate__text--title {
        font-size: 40px;
        line-height: 44px;
    }

    .content-relate__img-2 {
        position: absolute;
        top: -10px;
        /* right: -40px; */
        width: 484px;
        /* height: 275px; */
    }

    .bottom-content .content-relate .content-relate__img-container {
        min-height: 250px;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 .content-relate__img-4 {
        width: 424px;
        height: 202px;
        left: 50%;
        margin-left: -178px;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 .content-relate__img-3 {
        width: 334px;
        height: 200px;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 {
        height: 202px;
    }

    .bottom-content .bg-1 {
        background-image: url("../img/router_education__du950ftxqoqe_medium.jpg");
    }

    .bottom-content .bg-2 {
        background-image: url("../img/router_business__btsiu4bv1bte_medium.jpg");
    }

    .bottom-content .content-relate-bg {
        background-position-x: -24px;
        min-height: 550px;
    }

    .footer {
        display: none;
    }

    .footer-mobile {
        display: none;
    }

    .footer-tablet {
        display: block;
    }

}







/* mobile */
@media(max-width: 739px) {

    .grid.wide.wide-content {
        max-width: 340px;
    }

    .margin-tag {
        margin: 0 24px;
        /* overflow: hidden; */
    }


    .content-tag-item {
        min-height: 546px;
    }

    .section-padding-top {
        padding-top: 100px;
    }

    /*first header  */
    .first-header>.wide {
        width: 100%;
    }

    .first__content__info__title {
        font-size: 28px;
    }

    .first__content__info__slogan {
        margin: 8px 0 0;
        font-size: 48px;
    }

    .first__content__info__desc {
        font-size: 24px;
    }

    .first__content__info__chip,
    .first__content__info__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .first__content__info__price {
        font-size: 20px;
    }

    .first__content__info__price>span {
        padding: 0;
        margin-right: 18px;
        margin-bottom: 10px;
    }

    .first__content__info__price>span::after {
        display: none;
    }

    .first-header__navbar__item {
        display: none;
    }

    .first-header__navbar__item-mobile {
        display: block;
    }

    .first-header__navbar__item__icon {
        font-size: 26px;
    }

    .logo-header-color {
        color: rgba(255, 255, 255, .8);
    }

    .fix-header__left {
        font-size: 19px;
    }


    .advs-header-margin {
        margin: 0 12px;
    }

    .fix-header__right__item-mobile:nth-child(2) {
        padding-right: 0;
    }

    /* fix-header */
    .fix-header>.wide {
        width: 100%;
    }

    .fix-header__right__item-container {
        flex-direction: column;
        display: none;
    }

    .fix-header__right__item-mobile {
        display: block;
    }

    .fix-header-menu-icon {
        font-size: 26px;
    }

    .big-wide {
        max-width: 448px !important;
    }

    .section-content__title {
        font-size: 48px;
    }

    .section-content__img>img {
        height: 374px;
        width: 374px;

    }

    .first__content__info__price {
        padding-left: 18px;
    }

    .first__content__info__chip {
        margin-top: 32px;
    }

    .first__content__info__chip>span {
        font-size: 28px;
    }

    .section-content__desc {
        font-size: 21px;
        max-width: 300px;

    }

    .first__content {
        margin-bottom: 0;
    }

    .content-performance__text--left-side>h2,
    .text-right-side__header>h2 {
        font-size: 24px;
    }

    .content-performance__content {
        padding: 0 40px;
    }

    .section-content__feature {
        left: 0;
        right: 0;
        position: relative;
        display: block;
    }

    .section-content__btn-container {
        margin: 20px 0 150px;
    }

    .content-performance__header {
        font-size: 19px;
    }


    .content-performance__text--right-side__container {
        margin-left: 0;
    }

    .content-performance__text--right-side {
        margin-top: 60px;
    }

    .compare-performance__header {
        font-size: 21px;
        font-weight: 500;
    }

    .bars-num {
        font-size: 28px;
        font-weight: 500;
    }

    .section-content__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-right-side__list-feature {
        flex-wrap: nowrap;
        overflow-x: auto;
        line-height: 21px;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* hide scroll bar for chrome, safari and opera */
    .text-right-side__list-feature::-webkit-scrollbar {
        display: none;

    }

    .text-right-side__list-feature>li,
    .text-right-side__list-feature>span {
        line-height: 21px;
        font-size: 21px;
    }

    .compare-performance {
        padding-top: 20px;
    }

    .content-hardware__right-side__text {
        font-size: 21px;
        line-height: 24px;
    }

    .content-hardware__rigth-side {
        min-height: 546px;
    }

    .btn-replay {
        display: none !important;
    }

    .thermal-memory-bg-tablet {
        display: block;
        margin: 0;
        top: -380px;
        left: -20px;
        position: absolute;
        height: 844px;
        width: 542px;
        object-fit: cover;
    }

    .thermal-vid {
        margin: 0;
        height: 400px;
        position: relative;

    }

    .thermal-desc {
        font-size: 21px;
        line-height: 26px;

    }

    .content-app__info {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .content-app__info__right-side {
        margin: 20px 0;
        padding: 0 30px;
    }

    .content-app__info__left-side__pic-wrap {
        height: 490px;
    }

    .content-app__info__right-side__title {
        font-size: 38px;
        margin: 0;
    }

    .content-app__info__right-side__desc {
        line-height: 24px;
        font-size: 22px;
    }


    .content-app__info__left-side__pic-tablet,
    .content-app__info__left-side__pic {
        display: none;
    }

    .content-app__info__left-side__pic-mobile {
        display: block;
        width: 391px;
        height: 388px;
        top: 0;
        margin-top: 20px;
    }

    .content-app__footer {
        right: 0;
        top: 390px;
        margin: 15px;
        font-size: 12px;
        position: sticky;
    }

    .content-app__footer>p {
        text-align: left;
    }


    .battery-render-pic {
        width: 298px;
        height: 385px;
        left: 120px;
    }

    .content-battery__info__header {
        font-size: 40px;
        line-height: 44px;
        max-width: 300px;
    }

    .content-tag-header {
        font-size: 19px;
    }

    .content-battery__right-side__header__item {
        font-size: 19px;
    }

    .content-battery__right-side__header__item:nth-child(2) {
        display: none;
    }

    .content-battery__right-side__info__container {
        margin: 30px 0 15px;
        padding-right: 20px;
    }

    .content-app__info {
        overflow: hidden;
    }

    .storage-value {
        font-size: 80px;
    }

    .storage-sub-value {
        font-size: 48px;
    }

    .storage-caption {
        font-size: 21px;
        line-height: 30px;
    }

    .storage-content {
        margin: 0;
    }


    .battery-render-app-title {
        display: block;
        position: absolute;
        font-size: 12px;
        width: 480px;
        bottom: 26px;
        left: var(--title-padding);
        color: #FFF;
    }

    .content-section__header__title--grey,
    .content-section__header__title--white {
        font-size: 46px;
        line-height: 50px;
    }

    .content-section__header__text-content {
        font-size: 21px;
        line-height: 26px;
        max-width: 80%;
    }

    .content-section__header__screen-container {
        margin: 70px 0 120px;
    }

    .content-display__header__pic-lap {
        width: 371px;
        height: 216px;
        left: 50%;
        margin-left: -185.5px;
    }

    .content-security__left-side__title__headline {
        font-size: 44px;
    }

    .content-display__header__pic-screen {
        top: 14px;
        width: 281px;
        height: 176px;
        left: 50%;
        margin-left: -140.5px;
    }

    .content-display__header__pic-caption {
        right: 30px;
        font-size: 10px;
    }

    .content-margin-top-tablet {
        margin-top: 26px;
    }

    .content-display__container__icon>img {
        width: 161px;
    }

    .content-display__container__icon {
        margin-top: 0px;
        margin-bottom: 18px;
    }

    .badge__value {
        font-size: 28px;
        margin: 10px 0;
        padding-top: 4px;
        padding-bottom: 2px;
    }

    .padding-top-icon {
        padding: 0;

    }

    .change-brighten {
        margin-bottom: 40px;
    }

    .badge__typography {
        font-size: 21px;
        max-width: 240px;
        /* margin-top: 20px; */
    }

    .content-section__header__big-pic {
        width: 356px;
        height: 212px;
        left: 50%;
        margin-left: -178px;
    }

    .content-section__header__small-pic {
        width: 332px;
        height: 101px;
        margin-left: -166px;
    }

    .content-section__text-title--white,
    .content-section__text-title--grey {
        font-size: 24px;
        max-width: 336px;
    }

    .margin-side-tag-item {
        margin: 28px var(--title-padding) 0 !important;
    }

    .content-section__video-container {
        margin: 50px 0;
    }

    .scissor-img {
        margin-top: 0px;
        max-width: 185px;
    }

    .content-keyboard-scissor__text {
        font-size: 24px;
        line-height: 28px;
    }

    .touch-bar-img {
        width: 372px;
        height: 307px;
        right: 28px;
    }

    .content-keyboard-touch-bar__text-para {
        line-height: 24px;
    }

    .content-tag-touch-id__text-container {
        font-size: 24px;
        max-width: 330px;
        margin-left: 0;
        padding: var(--title-padding) 0;
    }

    .content-tag-touch-id__text-container>p {
        margin-right: 8px;
        font-weight: 500;
    }

    .content-tag-touch-id__icon-container>span {
        font-size: 21px;
        max-width: 130px;

    }

    .touch-id-img-1 {
        width: 58px;
        height: 58px;
    }

    .touch-id-img-2 {
        width: 76px;
        height: 48px;
    }

    .touch-id-img-3 {
        width: 48px;
        height: 62px;
    }

    .touch-id-img-4 {
        width: 58px;
        height: 58px;
    }

    .section-padding-left {
        padding: 0 var(--title-padding);
    }

    .content-conectivity__pic-container {
        margin-top: 60px;
        margin-bottom: -50px;
        width: 736px;
        height: 202px;
        margin-left: 0;
    }

    .content-conectivity__pic-mobile {
        display: block;
        position: relative;
        margin-top: 60px;
        margin-bottom: -50px;
        width: 736px;
        height: 202px;
        margin-left: -368px;
    }

    .content-conectivity__pic {
        display: none;
    }

    .content-tag-touch-id__icon-container {
        margin: 28px 0;
    }

    .bottom-content {
        padding-top: 20px;
    }

    .bottom-content .content-ar {
        min-height: 700px !important;
        max-height: unset;
        flex-direction: column;
    }

    .bottom-content .ar-content__img-container .ar-img {
        left: 0;
    }

    .bottom-content .ar-container {
        text-align: center;
        align-items: center;
    }

    .bottom-content .ar-container .ar-title-container {
        max-width: 295px;
        font-size: 32px;
        font-weight: 500;
    }

    .ar-img {
        width: 273px;
        height: 372px;
    }

    .bottom-content .ar-content__img-container {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11px;
        margin-bottom: unset;
        width: 273px;
        height: 372px;
    }

    .ar-icon>img {
        width: 31px;
    }

    .bottom-content .ar-container .ar-colornav .colornav-list .colornav-item .text--long {
        margin-left: -38px;
    }

    .bottom-content .content-buy .content-buy__header {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 340px;
        margin-top: 52px;
        font-size: 40px;
        line-height: 44px;
    }

    .bottom-content .content-buy .content-buy__compare-link {
        margin-top: 20px;
        margin-bottom: 68px;
    }

    .bottom-content .content-buy .content-buy__compare-link>a {
        font-size: 19px;

    }

    .bottom-content .content-buy .content-buy__list .grid-system .product-img {
        width: 117px;
        height: 82px;
    }

    .product-img-grid-3,
    .product-img-grid-4 {
        margin-top: 56px;
    }

    .bottom-content .content-buy .content-buy__list .grid-system .product-name {
        font-size: 19px;
        line-height: 23px;
    }

    .bottom-content .content-buy .content-buy__list .grid-system {
        padding: 0;
        width: 87.5%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas:
            "mba1-img mba2-img"
            "mba1-color mba2-color"
            "mba1-name mba2-name"
            "mba1-special mba2-special"
            "mba1-price mba2-price"
            "mba1-display mba2-display"
            "mba1-cpu mba2-cpu"
            "mba1-desc mba2-desc"
            "mba1-btn mba2-btn"
            "mba1-more mba2-more"
            ". ."
            "mba13-img mba14-img"
            "mba13-color mba14-color"
            "mba13-name mba14-name"
            "mba13-special mba14-special"
            "mba13-price mba14-price"
            "mba13-display mba14-display"
            "mba13-cpu mba14-cpu"
            "mba13-desc mba14-desc"
            "mba13-btn mba14-btn"
            "mba13-more mba14-more";



    }

    .bottom-content .content-buy .content-buy__list .grid-system {
        grid-column-gap: 28px;
        grid-row-gap: 0px;
    }

    .bottom-content .content-buy .content-buy__list .grid-system .product-special-chip {
        margin-top: 0;
    }

    .bottom-content .content-macOs {
        background-image: url("../img/router_macos_monterey__fz47xuao5tiu_small.jpg");
        background-size: cover;
    }

    .content-macOs__header-img>img {
        width: 166px;
        height: 22px;
    }

    .bottom-content .content-macOs .content-macOs__container .content-macOs__text {
        font-size: 32px;
        max-width: 350px;
        text-align: center;
    }

    .bottom-content .content-macOs .content-macOs__container {
        margin-top: 0;
    }

    .bottom-content .content-relate .content-relate__text .content-relate__text--intro {
        font-size: 19px;
    }

    .bottom-content .content-relate .content-relate__text .content-relate__text--title {
        font-size: 32px;
        line-height: 37px;

    }

    .bottom-content .content-relate .content-relate__img-container .content-relate__img-1 {
        display: none;
        margin-top: 0;
    }

    .bottom-content .content-relate .content-relate__img-container .content-relate__img-2 {
        display: none;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 .content-relate__img-3 {
        display: none;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 .content-relate__img-4 {
        display: none;
    }

    .bottom-content .content-relate .content-relate__img-container {
        min-height: 250px;
        height: fit-content;
        margin-top: auto;
    }

    .bottom-content .first-row {
        min-height: 500px;
    }


    .bottom-content .content-relate .content-relate__img-container .content-relate__img-1-mobile {
        width: 400px;
        height: 242px;
        display: block;
    }

    .bottom-content .content-relate .content-relate__img-container .content-relate__img-2-mobile {
        width: 400px;
        height: 420px;
        display: block;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 .content-relate__img-3-mobile {
        width: 302px;
        height: 200px;
        display: block;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 .content-relate__img-4-mobile {
        width: 376px;
        height: 210px;
        display: block;
        top: 16px;
        right: auto;
    }

    .bottom-content .content-relate .img-container-2 {
        min-height: 450px;
    }

    .bottom-content .content-relate .content-relate__img-container-row-2 {
        height: 226px;
    }

    .bottom-content .bg-1 {
        background-image: url("../img/router_education__du950ftxqoqe_medium.jpg");
    }

    .bottom-content .bg-2 {
        background-image: url("../img/router_business__btsiu4bv1bte_medium.jpg");
    }

    .bottom-content .content-relate-bg {
        background-position-x: -30px;
        min-height: 500px;
    }

    .footer {
        display: none;
    }

    /* footer mobile css */
    .footer-mobile {
        display: block;
    }

    .footer__directory__item {
        padding: 10px 0;
        border-bottom: 1px solid var(--footer-border-color);
        border-top: 1px solid var(--footer-border-color);
        cursor: pointer;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .footer__directory__item:hover .footer__directory__item__container {
        color: #FFF;
    }

    .footer__directory__item__container {
        display: flex;
        font-size: 14px;
        color: var(--footer-text-color);
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
        z-index: 5;
        position: relative;

    }

    .footer__directory__item__title {}

    .footer__directory__item__icon {
        font-size: 16px;
        padding-right: 5px;


    }

    .footer__directory-sub-list {
        display: none;
        list-style: none;
        margin: 5px 0;
        padding: 0;
        position: relative;
        z-index: -1;
        height: 0px;

    }

    .footer__directory-sub__item {
        color: var(--footer-link-color);
        font-size: 14px;
        font-weight: 300;
        padding: 6px 14px;
    }

    .footer__directory-sub__item:hover {
        text-decoration: underline;
    }

    .directory-item-check {
        position: absolute;
        width: auto;
        display: inline;
        z-index: 1;
        opacity: 0;
        height: 28px;

    }

    .directory-item-check:checked~.footer__directory-sub-list {
        display: block;
        animation: footerSlideIn .3s ease-in-out forwards;
    }

    .directory-item-check:checked~.footer__directory__item__container {
        color: #FFF;
    }

    .directory-item-check:checked~.footer__directory__item__container>.footer__directory__item__icon>.footer-icon {
        transform: rotate(-45deg);
    }

    .footer-icon {
        transition-duration: .5s;
    }

    .footer__directory-sub-list__container {
        position: relative;
    }

    /* footer bottom */
    .footer .footer__bottom,
    .footer-mobile .footer__bottom,
    .footer-tablet .footer__bottom {
        padding: 17px 0 19px 0;
    }

    .footer .footer__bottom .footer__bottom__shop,
    .footer-mobile .footer__bottom .footer__bottom__shop,
    .footer-tablet .footer__bottom .footer__bottom__shop {
        border-bottom: none;
    }

    .footer__bottom__locate {
        left: -1px;
        padding-top: 5px;
        font-size: 12px;
        color: var(--footer-text-color-color);
    }

    .legal__left-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 10px;
    }

    .legal__left-side__copyright {
        margin-top: 5px;
    }

    .legal__right-side__policy {
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;

    }

    .legal__left-side__item {
        margin-right: 7px;
        padding-right: 10px;
    }

    .legal__left-side__item-border {
        border-right: 1px solid var(--footer-border-color);
    }

    .legal__left-side__item:hover {
        text-decoration: underline;
    }

    .legal__left-side__item>a {
        font-size: 13px;
        font-size: 12px;
        color: var(--footer-link-color);
    }

    .cart-container {
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        border-radius: 0;
        display: none;
        background-color: #fff;
        min-width: 286px;
        height: 323px;
        z-index: 10000000;
        margin: 0 auto;
        padding: 0 20px;
        letter-spacing: 0.014rem;

    }

    .cart-checkbox {
        top: 6px;
        left: 6px;
    }

    .cart-main-icon::after {
        content: "";
        position: absolute;
        border-width: 20px;
        top: 14px;
        right: 0;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        display: none;
    }



    .cart-container-pc {
        display: none;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    .modal {
        display: none !important;
    }

    .header-hide-animation {
        opacity: 1;
        animation: none;
    }

    .header__side-menu {
        /* display: block; */
        z-index: 1999;

    }


}




/* tablet and mobile */
@media (max-width: 1023px) {

    .footer .footer__nav-breadcrumbs .footer__nav-breadcrumbs__list .footer__nav-breadcrumbs__item::before,
    .footer-mobile .footer__nav-breadcrumbs .footer__nav-breadcrumbs__list .footer__nav-breadcrumbs__item::before {
        font-size: 20px;
    }

    .footer .footer__nav-breadcrumbs .footer__nav-breadcrumbs__list .footer__nav-breadcrumbs__first-item,
    .footer .footer__nav-breadcrumbs .footer__nav-breadcrumbs__list .footer__nav-breadcrumbs__item,
    .footer-mobile .footer__nav-breadcrumbs .footer__nav-breadcrumbs__list .footer__nav-breadcrumbs__first-item,
    .footer-mobile .footer__nav-breadcrumbs .footer__nav-breadcrumbs__list .footer__nav-breadcrumbs__item {
        font-size: 12px;
    }
}

@media (min-width: 740px) {
    .header__side-menu {
        display: none !important;
    }

    .header-cart {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .fix-header__menu {
        display: none !important;
    }

    .fix-header {
        height: 53px !important;
    }

    .fix-header-checkBox {
        display: none !important;
    }
}

@media(max-width: 370px) {
    .margin-tag {
        overflow: hidden;
        margin: 0;
    }

    .content-tag-item {
        border-radius: 0;
    }

    .content-tag-item--grey-bg,
    .content-tag,
    .content-hardware__rigth-side,
    .content-performance {
        border-radius: 0;
    }

}


@keyframes footerSlideIn {
    from {
        height: 0;
        transform: translateY(-69px);
        opacity: 0;
    }

    to {
        height: 100%;
        top: 0;
        transform: translateY(0);
        opacity: 1;

    }
}