:root {
    --primary-color: #ee4d2d;
    --grey-color: #86868B;
    --fix-header-color: rgba(29, 29, 31, 0.72);
    --white-color: #FFF;
    --black-color: #000;
    --blue-color: #0071e3;
    --pink-color: #CC18C6;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 48px;
    --title-padding: 40px;
    --header-sort-bar-height: 46px;
    --full-bar-width: 511px;
    --bar-witdh: 350px;
    --small-bar-width: 86px;
    --item-height: 700px;
    --green-color: #4cd265;
    --tile-border-radius: 30px;
    /* content-tag : thẻ chứa content tổng với width = 700px*/
    /* content-tag-header */
}

.content-tag {
    /* margin-top: 30px; */
    min-height: var(--item-height);
    border-radius: 30px;
    overflow: hidden;
}

.content-tag-header {
    padding: var(--title-padding);
    padding-bottom: 0;
    color: #FFF;
    font-size: 21px;
    /* margin-bottom: 9px; */
    font-weight: 500;
    line-height: 25px;
    z-index: 2;
}

.content-tag-item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    border-radius: var(--tile-border-radius);
    min-height: 700px;
    overflow: hidden;
    background-repeat: no-repeat;
}



.content-tag-text-field-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 60px 0; */
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    transform: translateZ(0);
    z-index: 2;


}

.content-tag-text-field-container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 60px 0; */
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    transform: translateZ(0);
    z-index: 2;

}

.content-centered {
    justify-content: center;
}

.section-padding-top {
    padding-top: 170px;
}

.text-para-large {
    max-width: 70%;
    margin-top: 22px;
}

a {
    text-decoration: none;
    color: var(--white-color);
}


* {
    box-sizing: inherit;
    /*kế thừa thằng cha  */

}

p {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--black-color);


}

html {
    font-size: 62.5%;
    /* => 1rem = 10px */
    line-height: 1.6rem;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    letter-spacing: .5px;
    background-color: var(--black-color);

    /* height: 3000px; */

}

.app {
    position: relative;
    overflow: hidden;
    display: unset;
}

.header {
    overflow: hidden;
    position: relative;
    display: unset;
}




/* first header */
.first-header {
    height: 44px;
    background-color: #000;

}

.first-header__navbar {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

.first-header__navbar__item {
    color: var(--grey-color);
    font-size: 12px;
    padding: 0 6px;
    cursor: pointer;
    transition-duration: .5s;
    font-family: 'SF Pro Text', sans-serif;

}

.first-header__navbar__item:hover,
.first-header__navbar__item__icon:hover {
    color: var(--white-color);
}

.first-header__navbar__item__icon {
    color: var(--grey-color);
    font-size: 22px;
    margin-top: 4px;
    transition-duration: .5s;
}

.search-icon,
.cart-icon {
    font-size: 18px;

}

/* fix header */
.fix-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    background-color: rgba(29, 29, 31, 0.72);
    border-bottom: 1px solid rgba(255, 255, 255, 0.239);
    z-index: 1000;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(9.6px);
}

.fix-header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 22px;
}

.fix-header__left {
    font-size: 21px;
    font-weight: 550;
    margin-left: 14px;
}

.fix-header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.active {
    cursor: pointer;
    color: var(--white-color);

}

.active:hover {
    color: var(--blue-color);
}

.no-active {
    color: var(--grey-color);
}

.fix-header__right__item {
    font-size: 12px;
    margin: 0 10px;

}

.btn {
    background-color: var(--blue-color);
    color: #FFF;
    padding: 4px 11px;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(32, 132, 233);
}

.advs-header {
    background-color: var(--fix-header-color);
    text-align: center;
    font-size: 14px;
    padding: 17px 0;
    color: #FFF;
}

.advs-header>a {
    padding-right: 3px;
    color: var(--blue-color);
}

.advs-header>a:hover {
    text-decoration: underline;
}

.icon {
    font-size: 12px;
    transform: translateY(10%);
}

.content {
    background-color: var(--black-color);
}


/* first-content */
.first__content {
    margin-bottom: 100px;
}

.content__laptop-open {
    background-color: var(--black-color);
    margin: 0 auto;
}

.laptop-open-img {
    padding-top: 100px;
    display: none;
    width: 100%;
    height: 100%;


}

.laptop-open-vid {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    animation: sharpe .3s ease-in;
}



/* first_content */
.first__content__info {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateY(-88px); */

}

.first__content__info__title {
    font-size: 40px;
    font-weight: 600;
    color: #F5F5F7;
}

.first__content__info__slogan {
    margin-top: 26px;
    padding-bottom: 26px;
    background: radial-gradient(#eff1ff, #000);
    font-size: 96px;
    line-height: 1.04167;
    font-weight: 700;
    letter-spacing: -.015em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first__content__info__desc {
    color: #d2d2d7;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin: 10px 40px;
    height: auto;
    max-width: 900px;
    text-align: center;
}

.first__content__info__chip {
    margin-top: 54px;
    color: #d2d2d7;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.first__content__info__chip>span {
    margin-top: 11px;
}

.first__content__info__chip>img {
    margin-top: 11px;
    width: 94px;
}


.first__content__info__price {
    margin-top: 50px;
    margin-bottom: 11px;
    font-size: 28px;
    color: #FFF;
}

.first__content__info__price>span {
    padding-right: 15px;
}

.first__content__info__price>span::after {
    content: "";
    border-right: 3px solid #FFF;
    padding: 0 15px 0 15px;
    font-size: 20px;
}

.first__content__info__price>a>.icon {
    font-size: 18px;
    padding: 0 8px;
}

.first__content__info__price>a:hover {
    text-decoration: underline;
}

.first__content__info__title {
    animation: 1.5s fadeIn 0.3s both;
}

.first__content__info__slogan {
    animation: 1.8s fadeIn 0.3s both;
}

.first__content__info__desc {
    animation: 2.3s fadeIn 0.3s both;
}

.first__content__info__chip {
    animation: 2.3s fadeIn 0.3s both;
}

.first__content__info__price {
    animation: 2.3s fadeIn 0.3s both;
}

/* section content */
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content__title {
    line-height: 84px;
    margin: 28px 0 38px 0;
    font-size: 70px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}

.section-content__img {
    width: 434px;
}

.section-content__desc {
    margin: 28px 0;
    text-align: center;
    font-size: 28px;
    color: #F5F5F7;
    line-height: 1.14286;
    font-weight: 500;
    letter-spacing: .007em;
    max-width: 980px;
}

.section-content__feature {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-content__feature__item {
    color: #FFF;
    margin: 20px 24px;
    max-width: 120px;
    padding: 4px 0 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-content__feature__item__up {
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 400;
    letter-spacing: -.016em;
}

.section-content__feature__item__number {
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
    letter-spacing: 0em;
}

.section-content__feature__item__desc {
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 400;
    letter-spacing: -.016em;
}

.section-content__btn-container {
    background: linear-gradient(135deg, #bead47, #922b28, #8e089b);
    margin: 62px auto 180px;
    border-radius: 30px;
    border: 2px solid transparent;

}

.section-content__btn {
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    box-sizing: content-box;
    outline: none;
    padding: 14px 16px;
    display: inline;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content__btn-container:hover>.section-content__btn {
    color: #000;
    background-color: #FFF;
}

.section-content__btn-container:hover {
    background: #FFF;
}


.btn-icon {
    padding-left: 4px;
}


/* content performance */


.content-performance {
    background-color: #151516;
    border-radius: 30px;
}

.content-performance__header {
    padding: var(--title-padding);
    padding-bottom: 0;
    color: #FFF;
    font-size: 21px;
    margin-bottom: 9px;
    font-weight: 600;
    line-height: 25px;
}

.content-performance__content {
    padding-left: 40px;
    margin-top: 20px;
    color: #FFF;
}

.content-performance__text-content {}

.content-performance__text--left-side {
    font-size: 32px;
}

.content-performance__text--left-side>h2 {
    font-size: 32px;
    margin: 0;
    font-weight: 600;
    line-height: 36px;
    width: 350px;

}

.content-performance__text--right-side {}

.content-performance__text--right-side__container {
    margin-left: 128px;
    width: 786px;
    padding-bottom: 96px;
}

.content-performance__text--right-side__container:first-child {
    border-bottom: solid 2px #2C2C2D;

}

.content-performance__text--right-side__container:nth-child(2) {
    margin-top: 91px;
}

.text-right-side__header>h2 {
    margin: 0;
    margin-bottom: 38px;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
}

.text-right-side__list-feature {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 671px;

}

.text-right-side__list-feature>span {
    font-size: 32px;
    color: var(--grey-color);
    margin: 0 2px;
    line-height: 34px;


}

.item-feature {
    color: var(--grey-color);
}

.item-feature--active {
    color: var(--white-color);
}

.text-right-side__item-feature {
    font-size: 32px;
    font-weight: 500;
    line-height: 34px;
    display: list-item;
    color: var(--grey-color);


}

.text-right-side__item-feature :hover {
    text-decoration: underline;
}

.compare-performance {
    padding-top: 98px;
}

.compare-performance__header {
    font-size: 28px;
    color: #FFF;
    padding-bottom: 15px;
    font-weight: 600;
}

.compare-performance__container {
    padding-top: 50px;
    width: 612px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bars-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bars-mask {
    width: 510px;
}

.bar {
    /* height: 10px; */
    border-radius: 30px;
    color: transparent;
    transition-duration: 10s;
    background: linear-gradient(to right, #ffc600, #e8482e, #9c209d);
    opacity: 0;
    height: 10px;
    max-width: 490px;

}





.bar-2 {
    height: 10px;
    border-radius: 30px;
    color: transparent;
    opacity: 0;
    background-color: #d2d2d7;

}

.bar-m1-1 {
    max-width: 350px;
    opacity: 0;
}

.bar-m1-2 {
    max-width: 86px;
    opacity: 0;
}

.bar-animation {
    opacity: 1;
    animation: full-Appear 2s ease-in both;
}

.bars-caption {
    padding-top: 15px;
    font-size: 17px;
    color: #d2d2d7;

}

.bars-num {
    color: var(--pink-color);
    line-height: 56px;
    width: 100px;
    font-size: 56px;
    font-weight: 600;
    margin-left: 20px;
}


/* hardware content */
.content-hardware {
    /* margin-top: 30px; */
    min-height: var(--item-height);
    overflow: hidden;
}

.content-hardware__left-side {
    background-color: #151516;
    border-radius: 30px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    justify-content: unset;
}

.content-hardware__left-side__header {
    padding: var(--title-padding);
    padding-bottom: 0;
    color: #FFF;
    font-size: 21px;
    margin-bottom: 9px;
    font-weight: 600;
    line-height: 25px;
    position: relative;
    z-index: 3;
}

.content-hardware__left-side__header>div {
    z-index: 10;
}

.content-hardware__left-side__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-grow: 1; */
}

.thermal-desc {
    color: var(--white-color);
    margin-bottom: 11px;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    margin: 30px 0;
    padding: 0 30px 0 30px;
    z-index: 3;
    letter-spacing: .004rem;
    transform: translateY(20%);
}

.thermal-desc__container {
    max-width: 345px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.btn-replay {
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
}

.btn-replay>.icon {
    font-size: 16px;
    padding-left: 6px;

}

.btn-replay:hover {
    cursor: pointer;
    text-decoration: underline;
}

.thermal-vid {
    /* position: absolute;
    z-index: 0;
    width: 918px;
    height: 720px;
    margin: 0px 0 0 0px;
    left: 0;
    top: 0; */
    /* width: 918px;
    height: 720px; */
    margin: 0 0 0 328px;
    left: 0;
    bottom: 0;

}

.thermal-memory-bg {
    /* width: 918px;
    height: 720px;
    margin: 0 0 0 328px;
    left: 0;
    bottom: 0;
    z-index: 0; */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
}

.thermal-memory-bg-vid {}

.content-hardware__rigth-side {
    background-image: url("../img/memory_bg__fu9k4zooujyq_large.jpg");
    border-radius: 30px;
    height: 100%;

}

.hardware-container {
    background-color: rgba(29, 29, 31, 0.2);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-hardware_rigth-side__header {
    padding: var(--title-padding);
    padding-bottom: 0;
    color: #FFF;
    font-size: 21px;
    margin-bottom: 9px;
    font-weight: 600;
    line-height: 25px;
}

.content-hardware__container {
    /* transform: translateY(20%); */
}

.content-hardware__right-side__logo {
    padding-bottom: 20px;
    padding-left: var(--title-padding);
    /* padding-top: 110px; */
}

.content-hardware__right-side__img {
    width: 52px;
}

.content-hardware__right-side__text {
    padding: 0 40px;
    color: var(--white-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 11px;
    letter-spacing: .007rem;
}

/* app content */
.content-app {
    margin-top: 30px;
    background-image: radial-gradient(at 100% 100%, rgba(111, 88, 116, 0.7) 0px, transparent 50%), radial-gradient(at 90% 0%, #0a2961 0px, transparent 50%), radial-gradient(at 18% 16%, rgba(58, 3, 130, 0.79) 0px, transparent 50%), radial-gradient(at 100% 40%, rgba(76, 21, 147, 0.22) 0px, transparent 50%), radial-gradient(at 0% 100%, #74517b 0px, transparent 50%);
}

.content-app__container {
    /* width: 100%; */
    /* height: 100%; */
    /* background-image: url("../img/app-mac.png"); */
    /* z-index: 10; */
    /* background-repeat: no-repeat; */
    max-height: 720px;
}

.content-app__header {}

.content-app__info__left-side {}

.content-app__info__left-side__pic-wrap {
    max-height: 656px;
}

.content-app__info__left-side__pic {
    display: block;
    width: 787px;
    height: 673px;
    z-index: 1;
    right: 24px;
    top: -72px;
}

.content-app__info {}

.content-app__info__right-side {
    padding: 0 40px;
    margin-bottom: 69px;
}

.content-app__info__right-side__title {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 700;
    letter-spacing: -.028em;
    color: #FFF;
    margin-right: 30px;
}

.content-app__info__right-side__desc {
    color: #FFF;
    font-weight: 500;
    font-size: 19px;
    margin: 26px 26px 0 0;
    line-height: 30px;
}

.content-app__footer>p {
    padding-left: 60px;
    color: #FFF;
    font-weight: 300;
    /* width: 300px; */
    /* position: relative; */
    text-align: center;
    /* right: 280px; */
    /* top: 600px; */
}

.content-app__info__left-side__pic {
    position: relative;
    display: block;
}

.content-app__footer {
    width: 400px;
    text-align: right;
    right: 240px;
    top: 600px;
    position: absolute;
}

/* battery content */

.content-battery {}

.content-battery__left-side {
    background: linear-gradient(to bottom, #203025 0%, #151516 100%);
}

.content-battery__left-side__header {}

.content-battery__left-side__content {}

.content-battery__left-side__content__container {
    text-align: center;
    padding-left: var(--title-padding);
    padding-right: var(--title-padding);
    margin: 40px 0;
}

.content-battery__left-side__content__desc {
    /* color: #FFF; */
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.028em;
}

.battery-fill-up {
    color: transparent;
    position: relative;
    background: linear-gradient(to top, #4cd265 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    background-size: 300% 300%;
    /* width and height */
    animation: fill 2.8s ease-in-out both;
}


.content-battery__right-side {
    background: linear-gradient(165deg, #2c4735 0%, #1d243e 60%, #101124 90%);
    border-radius: 30px;
    height: 700px;
    z-index: 10;
}

.content-battery__right-side__header {
    display: flex;
    justify-content: space-between;
    padding: var(--title-padding);
    padding-bottom: 0;
    color: #FFF;
    font-weight: 600;
    font-size: 600;
    margin-bottom: 9px;
    line-height: 25px;
    font-size: 21px;
}

.content-battery__right-side__header__item:nth-child(2) {
    font-size: 12px;
    font-weight: 300;

}

.content-battery__right-side__content {}

.content-battery__right-side__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 2;

}

.content-battery__right-side__info__container {
    margin: 60px 0;
    padding-left: 40px;
    color: #FFF;
}

.content-battery__info__header {
    line-height: 60px;
    font-size: 56px;
    font-weight: 600;
}

.content-battery__info__desc>p {
    margin: 26px 0;
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 500;
    letter-spacing: .012em;
    max-width: 342px;
}

.content-battery__right-side__pic {
    position: relative;
}

.battery-render-pic {
    position: relative;
    display: block;
    width: 477px;
    height: 643px;
    bottom: -21px;
    left: 60px;

}

.content-security {}

.content-security__left-side {
    background-color: #151516;
}

.content-security__left-side__header {}

.content-security__left-side__container {}

.content-security__left-side__lock {
    background-repeat: no-repeat;
    background-image: url("../img/lock.png");
    background-size: 800px 1152px;
    width: 100px;
    height: 128px;
    animation: unlock_animation-large 6s steps(1) forwards;
    animation-play-state: paused;
    animation-iteration-count: initial;
    animation-duration: 72s;
    background-position: 0px 0px;
    animation-delay: -67s;
    margin-left: auto;
    margin-right: auto;
}

.content-security__left-side__title {
    color: #d2d2d7;

    letter-spacing: -.003em;

}

.content-security__left-side__title__headline {
    margin: 24px 0 0 0;
    text-align: center;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
}

.content-security__left-side__text-content {
    text-align: center;
    color: #d2d2d7;
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
    margin: 0 auto;
    max-width: 620px;
    padding: var(--title-padding);

}

.content-security__left-side__text-content>p {
    max-width: 540px;
}

.content-security__right-side {
    background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
}


.storage-wrap {
    margin-bottom: var(--title-padding);
    text-align: center;
}

.storage-content {

    margin: 20px 0;
    color: #FFF;
}

.storage-caption {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 0em;
}

.storage-value {
    display: inline;
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    letter-spacing: -.015em;
    margin: 0;
}

.storage-sub-value {
    display: inline;
    margin: 0;
    font-size: 64px;
    line-height: 1.0625;
    letter-spacing: -.009em;
    text-transform: uppercase;
}


.storage-desc {
    margin: 30px auto 0;
    padding: 0 var(--title-padding);
    max-width: 450px;
    color: #FFF;
}

.storage-desc>p {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
}


/* display session */

.content-display {
    background-color: #000;
}

.content-display__header {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    position: relative;
}

.content-display__header__title--grey {
    margin-top: 41px;
    color: #A1A1A6;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -.015em;
}

.content-display__header__title--white {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -.015em;
    color: #FFF;
}

.content-display__header__text-content {
    color: #A1A1A6;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 500;
    letter-spacing: .007em;
}


.content-display__header__sreen-display {
    position: relative;
    margin: 70px 0 130px;
}

.content-display__header__pic-screen {
    opacity: 0.2;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    display: block;
    width: 927px;
    height: 579px;
    /* position: relative; */
    left: 50%;
    margin-left: -463.5px;
    top: 43px;
    /* animation: brighten 1.2s ease-in-out forwards; */
}

.content-display__header__pic-lap {
    display: block;
    width: 1215px;
    height: 705px;
    position: relative;
    left: 50%;
    margin-left: -607.5px;
}

.brighten-effect {
    animation: brighten 3s ease-in-out forwards;
}

.content-display__header__pic-caption {
    color: #d2d2d7;
    position: absolute;
    width: 400px;
    text-align: right;
    right: 0;
    bottom: -30px;
}

.content-display__container__item {
    background-color: #151516;
}

.content-display__container__item {
    margin: 0;
}

.content-display__container__icon {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.content-display__badge {
    text-align: center;
    color: #FFF;
}

.badge__value {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -.015em;
    margin: 20px 0;
}

.badge__typography {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.14286;
}

.change-brighten {
    margin-bottom: 112px;
}

.content-display-bg {
    display: block;
    width: 100%;
    height: 100%;
}

.content-display-bg--cold {
    opacity: 1;
}

.true-tone-effect {
    animation: trueTone-fadeOut 1s ease-in-out forwards;
}

.true-tone-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

@keyframes sharpe {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(88px);

    }

    to {
        opacity: 100;
        transform: translateY(0px);
    }
}

@keyframes full-Appear {
    from {
        width: 0%;
        /* transform: matrix(0, 0, 0, 0, 0, 0); */
        opacity: 0;
    }

    to {
        width: 490px;
        opacity: 1;
    }
}

@keyframes fill {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes brighten {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }

}

@keyframes trueTone-fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

/* .app-content-container : căn chiều dọc giữa item */