:root {
    --primary-color: #ee4d2d;
    --grey-color: #cccccc;
    --fix-header-color: rgba(29, 29, 31, 0.72);
    --white-color: #FFF;
    --black-color: #000;
    --blue-color: #0071e3;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 48px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;

}

a {
    text-decoration: none;
    color: var(--white-color);
}


* {
    box-sizing: inherit;
    /*kế thừa thằng cha  */

}

body {
    padding: 0;
    margin: 0;
    background-color: var(--black-color);


}

html {
    font-size: 62.5%;
    /* => 1rem = 10px */
    line-height: 1.6rem;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    letter-spacing: .5px;
    background-color: var(--black-color);

    /* height: 3000px; */

}

.app {
    position: relative;
    overflow: hidden;
    display: unset;
}

.header {
    overflow: hidden;
    position: relative;
    display: unset;
}




/* first header */
.first-header {
    height: 44px;
    background-color: #000;

}

.first-header__navbar {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

.first-header__navbar__item {
    color: var(--grey-color);
    font-size: 12px;
    padding: 0 6px;
    cursor: pointer;
    transition-duration: .5s;
    font-family: 'SF Pro Text', sans-serif;

}

.first-header__navbar__item:hover,
.first-header__navbar__item__icon:hover {
    color: var(--white-color);
}

.first-header__navbar__item__icon {
    color: var(--grey-color);
    font-size: 22px;
    margin-top: 4px;
    transition-duration: .5s;
}

.search-icon,
.cart-icon {
    font-size: 18px;

}

/* fix header */
.fix-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    background-color: rgba(29, 29, 31, 0.72);
    border-bottom: 1px solid rgba(255, 255, 255, 0.239);
    z-index: 5;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(9.6px);
}

.fix-header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 22px;
}

.fix-header__left {
    font-size: 21px;
    font-weight: 550;
    margin-left: 14px;
}

.fix-header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.active {
    cursor: pointer;
    color: var(--white-color);

}

.active:hover {
    color: var(--blue-color);
}

.no-active {
    color: var(--grey-color);
}

.fix-header__right__item {
    font-size: 12px;
    margin: 0 10px;

}

.btn {
    background-color: var(--blue-color);
    color: #FFF;
    padding: 4px 11px;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(32, 132, 233);
}

.advs-header {
    background-color: var(--fix-header-color);
    text-align: center;
    font-size: 14px;
    padding: 17px 0;
    color: #FFF;
}

.advs-header>a {
    padding-right: 3px;
    color: var(--blue-color);
}

.advs-header>a:hover {
    text-decoration: underline;
}

.icon {
    font-size: 12px;
    transform: translateY(10%);
}

.content {
    background-color: var(--black-color);
}


/* first-content */
.first__content {
    margin-bottom: 100px;
}

.content__laptop-open {
    background-color: var(--black-color);
    margin: 0 auto;
}

.laptop-open-img {
    padding-top: 100px;
    display: none;
    width: 100%;
    height: 100%;


}

.laptop-open-vid {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    animation: sharpe .3s ease-in;
}



/* first_content */
.first__content__info {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateY(-88px); */

}

.first__content__info__title {
    font-size: 40px;
    font-weight: 600;
    color: #F5F5F7;
}

.first__content__info__slogan {
    margin-top: 26px;
    padding-bottom: 26px;
    background: radial-gradient(#eff1ff, #000);
    font-size: 96px;
    line-height: 1.04167;
    font-weight: 700;
    letter-spacing: -.015em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first__content__info__desc {
    color: #d2d2d7;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin: 10px 40px;
    height: auto;
    max-width: 900px;
    text-align: center;
}

.first__content__info__chip {
    margin-top: 54px;
    color: #d2d2d7;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.first__content__info__chip>span {
    margin-top: 11px;
}

.first__content__info__chip>img {
    margin-top: 11px;
    width: 94px;
}


.first__content__info__price {
    margin-top: 50px;
    margin-bottom: 11px;
    font-size: 28px;
    color: #FFF;
}

.first__content__info__price>span {
    padding-right: 15px;
}

.first__content__info__price>span::after {
    content: "";
    border-right: 3px solid #FFF;
    padding: 0 15px 0 15px;
    font-size: 20px;
}

.first__content__info__price>a>.icon {
    font-size: 18px;
    padding: 0 8px;
}

.first__content__info__price>a:hover {
    text-decoration: underline;
}

.first__content__info__title {
    animation: 1.5s fadeIn 0.3s both;
}

.first__content__info__slogan {
    animation: 1.8s fadeIn 0.3s both;
}

.first__content__info__desc {
    animation: 2.3s fadeIn 0.3s both;
}

.first__content__info__chip {
    animation: 2.3s fadeIn 0.3s both;
}

.first__content__info__price {
    animation: 2.3s fadeIn 0.3s both;
}

/* section content */
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
}

.section-content__title {
    line-height: 84px;
    margin: 28px 0 38px 0;
    font-size: 70px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}

.section-content__img {
    width: 434px;
}

.section-content__desc {
    margin: 28px 0;
    text-align: center;
    font-size: 28px;
    color: #F5F5F7;
    line-height: 1.14286;
    font-weight: 500;
    letter-spacing: .007em;
    max-width: 980px;
}

.section-content__feature {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-content__feature__item {
    color: #FFF;
    margin: 20px 24px;
    max-width: 120px;
    padding: 4px 0 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-content__feature__item__up {
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 400;
    letter-spacing: -.016em;
}

.section-content__feature__item__number {
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
    letter-spacing: 0em;
}

.section-content__feature__item__desc {
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 400;
    letter-spacing: -.016em;
}

.section-content__btn-container {
    background: linear-gradient(135deg, #bead47, #922b28, #8e089b);
    margin: 70px 0;
    border-radius: 30px;
    border: 2px solid transparent;

}

.section-content__btn {
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    box-sizing: content-box;
    outline: none;
    padding: 14px 16px;
    display: inline;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content__btn-container:hover>.section-content__btn {
    color: #000;
    background-color: #FFF;
}

.section-content__btn-container:hover {
   background: #FFF;
}


.btn-icon {
    padding-left: 4px;
}





@keyframes sharpe {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(88px);

    }

    to {
        opacity: 100;
        transform: translateY(0px);
    }
}